<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redmart Sinatra</title>
    <link rel="stylesheet" href="/public/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <h1>Redmart Sinatra page</h1>
    <a href="/about">About</a>
    <a href="/users">Users</a>
    <a href="/products">Products</a>
    <a href="/brands">Brands</a>
    <a href="/categories">Categories</a>
    <%= yield %>
    <script type="text/javascript" src="/public/js/sript.js">
    </script>
  </body>
</html>
