<h3>Form to list new category</h3>

<form action="/categories" method="post">

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" name="category[name]" value="" placeholder="Name">
  </div>

  <div class="form-group">
    <label for="name">Description</label>
    <input id="name" type="text" name="category[description]" value="" placeholder="Description">
  </div>

  <input type="submit" value="submit">

</form>
